/* general styling
------------------*/


body {
	/*font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;*/
	font-family: 'Oxygen', sans-serif;
	font-family: ;
	margin: 0;
	background: #ffffff;
	color: #777777;
	background-image: url('../images/escheresque_@2X.png');
	background-size: 46px 29px;
	background-repeat: repeat;
	display: flex;
 	min-height: 100vh;
	flex-direction: column;
}

header {
	/*font-family: 'Georgia', Times, 'Times New Roman', serif;*/
	width: 100%;
	height: 100%;
	box-shadow:  0 0 15px 0 rgba(0,0,0,0.2);
	background: #ffffff;
}
header h1 {
	margin: 0;
	color: white;
	font-size: 2.5em;
	font-weight: lighter;
	letter-spacing: 6px;
	line-height: 1;

}

h2 {
	color: #4aaaa5;
	margin: 0;
	line-height: 1;
	font-size: 2em;
}

h3 {
	color: #4aaaa5;
	margin: 0;
	
}

hr {
	border: none;
	border-bottom: rgba(0,0,0,0.2) solid 3px;
	border-radius: 50%;
}
.headerWrapper {
	width: 960px;
	margin: 0 auto;
}

.nameBlock {
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 23px;
	padding-left: 8px;
	background: #4aaaa5;
	/*margin-left: 9%;*/
	border-left: solid 15px #666666;
	top: 35px;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
	cursor: default;

}


/*navigation*/
nav {
	display: inline-block;
	float: right;
	/*margin-right: 11%;*/


}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
	height: 100%;
	width: 100%;
	overflow: hidden;

}
nav li {
	display: inline-block;
	line-height: 1;
	float: left;
	height: 100%;
	text-align: center;
	padding: 40px 10px;
	line-height: 20px;
	border-right: rgba(0,0,0,0.05) 1px solid;
	color: grey;
	display: block;
	text-align: center;
	width: 80px;
	cursor: pointer;
	transition: 0.7s;
}

nav ul li:hover{
	transition: 0.7s;
	background-color: rgba(74,170,165,0.7);
	color: rgba(0,0,0,0.6);

}
.navLinkActive:hover li:hover{
	background-color: none;
	transition: 0.5s;
}

nav ul li:active {
	/*transition: 0.7s;*/
	background-color: rgba(0,0,0,0.4);
}

.navLinkText {
	border-bottom: 4px solid white;
	
}
.navLinkActive {
	border-bottom: 4px solid rgba(74,170,165,1);
}

body > header > div > nav > ul > li:nth-child(1) {
	border-left: rgba(0,0,0,0.05) 1px solid;

}

.wrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: 40px;
	flex: 1;
}

.mainSectionContent {
	width: 590px;
	float: left;
	padding: 30px;
	margin-right: 40px;
	background: #ffffff;
	margin-bottom: 30px;
}

.inlineImage {
	float:left;
	width: 200px;
	height: 200px;
	margin: 12px;
	margin-left: 0;
	border-radius: 2%;
	border-bottom: solid 6px #4aaaa5;
}

.sidebar {
	width: 210px;
	float: left;
	padding: 30px;
	background: #ffffff;
	text-align: center;

}
.socialIconsContainer {
	height: 50px;
	width: 50px;
	float: left;
	margin: 10px;
	display: block;
	position: relative;

}

.socialIcons {
	height: 100%;
	width: 100%;
	border-radius: 10%;
}
	

.socialIconsContainer:after {
	content:"";
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color: rgba(74,170,165,0);
	position: absolute;
	border-radius: 10%;
	cursor: pointer;
	transition: 0.5s;

}
.socialIconsContainer:hover:after {
	background-color: rgba(74,170,165,0.7);
	transition: 0.5s;
}

.footer {
	clear: both;
	width: 100%;
	text-align: center;
	padding: 30px 0 30px 0;
	background-color: #666666;
	color: white;
	bottom: 0;
	position: relative;
	border-top: 7px solid #4aaaa5;
}

::selection {
	background: rgba(74, 170, 165, 0.6);
}
/* index.html styling
--------------------- */ 



/* contact.html styling
 ---------------------- */
form {
	margin: 30px;
	color: #ffffff;

}
textarea {
	height: 300px;
	width: 60%;
	outline: none;
	border: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1.2em;
	border: 2px solid rgba(0,0,0,0.1);
	transition: 0.5s;
	margin-bottom: 10px;
	padding: 10px;
	color: #666666;
	resize: none;


}
textarea:focus {
	width: 95%;
	transition: 0.5s;
	border-color: rgba(74, 170, 165, 0.8);
}

.contactForm input {
	border: none;
	outline: none;
	border-bottom: 2px solid rgba(0,0,0,0.1);
	width: 60%;
	transition: 0.5s;
	margin-bottom: 30px;
	font-size: 1.3em;
	line-height: 1;
	padding: 5px;
	color: #666666;


}
.contactForm input:focus {
	border-color: rgba(74, 170, 165, 0.8);
	transition: 0.5s;
	width: 80%;
	}

.contactFormButton {
	width: 341px;
	height: 50px;
	border: 2px rgba(0,0,0,0.1) solid;
	color: #666666;
	font-size: 1.2em;
	background-color: white;
	transition: 0.5s;
	letter-spacing: 1px;
}
.contactFormButton:hover {
	background-color: #4aaaa5;
	transition: 0.5s;
	color: white;
}
.contactFormButton:active {
	background-color: #777777;
	transition: 0.2s;

}



 /* portfolio.html styling
 ------------------------- */
.portfolio {
/*	margin-left: 20%;
*/}
.portfolio img {
 	filter: grayscale(80%);
 	width: 275px;
 	height: auto;
 	border-radius: 0;
 	transition: 0.5s;
 }
 .portfolio img:hover {
 	filter: grayscale(0%);
 	transition: 0.5s;

 }
 .imageWrapper {
 	float: left;
 	display: inline-block;
 	margin: 10px;
 	position: relative;
 	width: auto;
 }
/*.imageWrapper:after {
 	content:"";
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	transition: 0.5s;
}

.imageWrapper:hover:after {
	background-color: transparent;
	transition: 0.5s;
}*/
 .imageTextBlock {
 	float: left;
 	top: 60%;
	display: inline;
	position: absolute;
	z-index: 2;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	/*background-color: rgba(74, 170, 165, 0.9);*/
	background-image: linear-gradient(to right, rgba(74, 170, 165, 0.4), rgba(74, 170, 165, 1.0), rgba(74, 170, 165, 0.4));
	color: white;
	text-align: center;


 }